body{
    background-color: rgb(242, 240, 237);
}
.entry{
    margin-top: 10%;
    margin-left:30% ;
   


}
label{
    color: rgb(106, 207, 153);
    font-size: xx-large;
    font-family: bold;
}
input{
    width: 200px;
    height: 40px;
    background-color: rgb(166, 222, 203);
}
#button{
    margin-top: 20px;
    margin-left: 40px;
    width: 100px;
    background-color: brown;
}

img{
    float: right;
    margin-right: 600px;
   
    width: 200px;
    height: 300px;
    border: 1px solid red;
   
}